<main class="page-main container container--grid">
<% var posts = get_posts({
  count: 1000
}) %>
<% posts.each(function(post){ %>
  <%- partial('_partials/post-preview', {post: post, index: true}) %>
<% }) %>
</main>