<header class="page-header container container--narrow">
  <a href="<%= config.root %>">
    <% if (page.tag) { %>
    <h4 class="page-title page-title--tag"><%= page.tag %></h4>
    <% } else { %>
    <h4 class="page-title"><%= config.title %></h4>
    <% } %>
  </a>
</header>
