<header class="page-header container">
  <a href="<%= config.root %>" class="page-header-link container-item">
    <% if (page.tag) { %>
    <h4 class="page-title page-title--tag"><%= page.tag %></h4>
    <% } else { %>
    <h4 class="page-title"><%= config.title %></h4>
    <% } %>
  </a>
</header>
