<a href="<%- url_for(post.path) %>">
  <article class="post" data-post-id="<%= post._id %>">
    <header class="post-header">
        <h2 class="post-title post--preview-title"><%= post.title %></h2>
        <% if (post.description){ %>
          <span class="post-description"><%= post.description %></span> 
        <% } %>
    </header>
  </article>
</a>
