// base
* {
  .box-sizing(border-box);
}
*:before,
*:after {
  .box-sizing(border-box);
}
html {
  font-size: @font-size--html;
}
body {
  background-color: @background-color--body;
  color: @color--body;
  font-size: @font-size--body;
  font-family: @font-family--body;
  font-weight: @font-weight--body;
  line-height: @line-height--body;
  letter-spacing: @letter-spacing--body;
  text-rendering: optimizeLegibility;
  .font-smoothing(antialiased);
  -moz-osx-font-smoothing: grayscale;
  margin-top: @margin-top--body;
  margin-bottom: @margin-bottom--body;
}
a {
  color: @color--a;
  text-decoration: none;
}

// typography
h1 {
  font-family: @font-family--h1;
  font-size: @font-size--h1;
  font-weight: @font-weight--h1;
  line-height: @line-height--h1;
  letter-spacing: @letter-spacing--h1;
}
h2 {
  font-family: @font-family--h2;
  font-size: @font-size--h2;
  font-weight: @font-weight--h2;
  line-height: @line-height--h2;
  letter-spacing: @letter-spacing--h2;
}

// containers
.container {
  width: @width--container;
  max-width: @max-width--container;
  padding-left: @padding-left--container;
  padding-right: @padding-left--container;
  .margin-center();
  background-color: @color-temp;
}
.container--narrow-item {
  .margin-center();
}
.container--grid-item {
  margin-left: @margin-left--container--grid-item;
  margin-bottom: @margin-bottom--container--grid-item;
}
.container--grid {
  font-size: 0;
}
.container--grid > * {
  font-size: @font-size--container--grid-item;
  display: @display--container--grid-item;
  vertical-align: top;
  height: @height--container--grid-item;
  overflow: hidden;
}
@media (min-width: @width-screen-lg-min) {
  .container-item {
    .container--grid-item-width(4);
  }
  .container--grid-item:nth-of-type(4n+1) {
    margin-left: 0;
  }
}
@media (min-width: @width-screen-md-min) and (max-width: @width-screen-md-max) {
  .container-item {
    .container--grid-item-width(3);
  }
  .container--grid-item:nth-of-type(3n+1) {
    margin-left: 0;
  }
}
@media (min-width: @width-screen-sm-min) and (max-width: @width-screen-sm-max) {
  .container-item {
    .container--grid-item-width(2);
  }
  .container--grid-item:nth-of-type(2n+1) {
    margin-left: 0;
  }
}
@media (max-width: @width-screen-xs-max) {
  .container-item {
    .container--grid-item-width(1);
  }
  .container--grid-item {
    margin-left: 0;
  }
}

// page-header
.page-header {
  margin-bottom: @margin-bottom--page-header;
}
.page-header-link {
  display: @display--page-header-link;
  .margin-center();
}
.page-title {
  text-transform: @text-transform--page-title;
  text-align: @text-align--page-title;
}
.page-title--tag {
  font-style: @font-style--page-title--tag;
}
.page-title--tag:hover {
  text-decoration: @text-decoration--page-title--tag;
}

// page-main
.post-link {
  display: @display--post-link;
}
.post-title {
  display: @display--post-title;
  margin-right: @margin-right--post-title;
}
.post-description {
  font-style: @font-style--post-description;
}
.post-content {
  margin-top: @margin-top--post-content;
  margin-bottom: @margin-bottom--post-content;
}
.post-content ul {
  list-style-type: none;
  counter-reset: decimal-counter;
}
.post-content ul li:before {
  content: counter(decimal-counter);
  counter-increment: decimal-counter;
  position: relative;
  text-align: right;
  display: @display--post-content-list-style;
  left: @left--post-content-list-style;
  width: @width--post-content-list-style;
  margin-right: @margin-right--post-content-list-style;
  padding-right: @padding-right--post-content-list-style;
  font-size: @font-size--post-content-list-style;
  color: @color--post-content-list-style;
}
.post-content a {
  .underline(@y--underline);
  .underline-color(@color--underline);
}
.post-footer {
  font-style: @font-style--post-footer;
}
.post-date {
  display: @display--post-date;
  margin-bottom: @margin-bottom--post-date;
}
.post-tag-list:before {
  content: @content--post-tag-list-before;
  font-style: @font-style--post-tag-list-before;
  padding-right: @padding-right--post-tag-list-before;
}
.post-tag-list-item {
  display: @display--post-tag-list-item;
  margin-right: @margin-right--post-tag-list-item;
  &:not(:last-child):after {
    content: @content--post-tag-list-item-after;
    font-style: @font-style--post-tag-list-item-after;
  }
}
.post-next {
  padding-left: @padding-left--post-next;
  text-indent: @text-indent--post-next;
}
.post-next-link:before {
  content: @content--post-next-link-before;
  font-style: @font-style--post-next-link-before;
  padding-right: @padding-right--post-next-link-before;
}
