// base
* {
  .box-sizing(border-box);
}
*:before,
*:after {
  .box-sizing(border-box);
}
html {
  font-size: @font-size--html;
}
body {
  background-color: @background-color--body;
  color: @color--body;
  font-size: @font-size--body;
  font-family: @font-family--body;
  font-weight: @font-weight--body;
  line-height: @line-height--body;
  letter-spacing: @letter-spacing--body;
  text-rendering: optimizeLegibility;
  .font-smoothing(antialiased);
  -moz-osx-font-smoothing: grayscale;
  margin-top: @margin-top--body;
  margin-bottom: @margin-bottom--body;
}
a {
  color: @color--a;
  text-decoration: none;
}

// typography
h1 {
  font-family: @font-family--h1;
  font-size: @font-size--h1;
  font-weight: @font-weight--h1;
  line-height: @line-height--h1;
  letter-spacing: @letter-spacing--h1;
}
h2 {
  font-family: @font-family--h2;
  font-size: @font-size--h2;
  font-weight: @font-weight--h2;
  line-height: @line-height--h2;
  letter-spacing: @letter-spacing--h2;
}

// container
.container {
  width: 100%;
  max-width: @max-width--container;
  padding-left: @padding-left--container;
  padding-right: @padding-left--container;
  .margin-center();
}

// page-header
.page-header {
  margin-bottom: @margin-bottom--page-header;
}
.page-header--post {
  margin-bottom: @margin-bottom--page-header--post;
}
.page-title {
  color: @color--page-title;
  text-transform: @text-transform--page-title;
  text-align: @text-align--page-title;
}
.page-title-tag {
  font-style: @font-style--page-title-tag;
}

// page-footer
.page-footer-item {
  text-align: @text-align--page-footer;
  font-style: @font-style--page-footer;
}

// page-main
.page-main--index {
  margin-bottom: @margin-bottom--page-main--index;
}
.post-header {
  margin-bottom: @margin-bottom--post-header;
}
.post-link {
  display: @display--post-link;
}
.post-title {
  display: @display--post-title;
  margin-right: @margin-right--post-title;
}
.post-description {
  font-style: @font-style--post-description;
}
.post-content {
  margin-bottom: @margin-bottom--post-content;
}
.post-content h2,
.post-content h3,
.post-content h4 {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-style: @font-style--post-content-heading;
}
@media (max-width: @width-screen-xs-max) {
  .post-content ul {
    margin-left: @width--post-content-list-style;
  }
}
.post-content ul {
  list-style-type: none;
  counter-reset: decimal-counter;
  margin-bottom: @margin-bottom--post-content-ul;
}
.post-content ul li:before {
  content: counter(decimal-counter);
  counter-increment: decimal-counter;
  position: relative;
  text-align: right;
  display: @display--post-content-list-style;
  left: @left--post-content-list-style;
  width: @width--post-content-list-style;
  margin-right: @margin-right--post-content-list-style;
  padding-right: @padding-right--post-content-list-style;
  font-size: @font-size--post-content-list-style;
  color: @color--post-content-list-style;
}
.post-content a {
  .underline(@y--underline);
  .underline-color(@color--underline);
}
.post-footer {
  font-style: @font-style--post-footer;
}
.post-date,
.post-tag-list,
.post-nav {
  padding-left: @padding-left--hanging-indent;
  text-indent: @text-indent--hanging-indent;
}
.post-date {
  display: @display--post-date;
  margin-bottom: @margin-bottom--post-date;
}
.post-date:before {
  content: @content--post-date-before;
  font-style: @font-style--post-date-before;
  padding-right: @padding-right--post-date-before;
}
.post-tag-list {
  margin-bottom: @margin-bottom--post-tag-list;
}
.post-tag-list:before {
  content: @content--post-tag-list-before;
  font-style: @font-style--post-tag-list-before;
  padding-right: @padding-right--post-tag-list-before;
}
.post-tag-list-item {
  text-indent: 0;
  display: @display--post-tag-list-item;
  margin-right: @margin-right--post-tag-list-item;
  &:not(:last-child):after {
    content: @content--post-tag-list-item-after;
    font-style: @font-style--post-tag-list-item-after;
  }
}
.post-nav-prev:before {
  content: @content--post-nav-prev-before;
  font-style: @font-style--post-nav-prev-before;
  padding-right: @padding-right--post-nav-prev-before;
}
.post-nav-next:before {
  content: @content--post-nav-next-before;
  font-style: @font-style--post-nav-next-before;
  padding-right: @padding-right--post-nav-next-before;
}
