// colors
// : variables
@color-gray-dark:    rgb(63,63,63);
@color-gray-light:   rgba(63,63,63,0.4);
@color-gray-lighter: rgba(63,63,63,0.16);
@color-white:        rgb(255,255,255);
// : applications
@background-color--body:         @color-white;
@color--body:                    @color-gray-dark;
@color--a:                       inherit;
@color--post-content-list-style: @color-gray-light;
@color--underline:               @color-gray-lighter;
@color--page-title:              @color-gray-dark;

// sizing
@size-tera:         3;
@size-giga:         2;
@size-mega:         1.75;
@size-largest:      1.5;
@size-larger:       1.3333;
@size-large:        1.1667;
@size-base:         1;
@size-small:        0.9167;
@size-smaller:      0.8333;
@size-smallest:     0.75;
@size-micro:        0.6667;
@size-nano:         0.5833;
@size-pico:         0.5;
@size-rem-tera:     unit(@size-tera, rem);
@size-rem-giga:     unit(@size-giga, rem);
@size-rem-mega:     unit(@size-mega, rem);
@size-rem-largest:  unit(@size-largest, rem);
@size-rem-larger:   unit(@size-larger, rem);
@size-rem-large:    unit(@size-large, rem);
@size-rem-base:     unit(@size-base, rem);
@size-rem-small:    unit(@size-small, rem);
@size-rem-smaller:  unit(@size-smaller, rem);
@size-rem-smallest: unit(@size-smallest, rem);
@size-rem-micro:    unit(@size-micro, rem);
@size-rem-nano:     unit(@size-nano, rem);
@size-rem-pico:     unit(@size-pico, rem);

// typography
// : font-size variables
@font-size-px-base:     17.5px;
@font-size-em-tera:     unit(@size-tera, em);
@font-size-em-giga:     unit(@size-giga, em);
@font-size-em-mega:     unit(@size-mega, em);
@font-size-em-largest:  unit(@size-largest, em);
@font-size-em-larger:   unit(@size-larger, em);
@font-size-em-large:    unit(@size-large, em);
@font-size-em-base:     unit(@size-base, em);
@font-size-em-small:    unit(@size-small, em);
@font-size-em-smaller:  unit(@size-smaller, em);
@font-size-em-smallest: unit(@size-smallest, em);
// : font-size applications
@font-size--html:                    @font-size-px-base;
@font-size--body:                    @font-size-em-base;
@font-size--h1:                      @font-size-em-base;
@font-size--h2:                      @font-size-em-base;
@font-size--post-content-list-style: @font-size-em-small;
// : font-family variables
@font-family-sans-serif: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:      "PT Serif", Georgia, "Times New Roman", Times, serif;
@font-family-monospace:  Consolas, Monaco, "Andale Mono", monospace;
// : font-family applications
@font-family--body: @font-family-serif;
@font-family--h1:   @font-family-sans-serif;
@font-family--h2:   @font-family--h1;
// : font-weight variables
@font-weight-bold:      700;
@font-weight-semibold:  600;
@font-weight-normal:    400;
@font-weight-semilight: 300;
// : font-weight applications
@font-weight--body: @font-weight-normal;
@font-weight--h1:   @font-weight-bold;
@font-weight--h2:   @font-weight--h1;
// : line-height variables
@line-height-tight: 1.18;
@line-height-base:  1.36;
// : line-height applications
@line-height--body:      @line-height-base;
@line-height--h1:        @line-height-base;
@line-height--h2:        @line-height-base;
@line-height--underline: @line-height-tight;
// : letter-spacing variables
@letter-spacing-tight: -0.015em;
@letter-spacing-base:  0;
@letter-spacing-loose: 0.02em;
// : letter-spacing applications
@letter-spacing--body: @letter-spacing-base;
@letter-spacing--h1:   @letter-spacing-base;
@letter-spacing--h2:   @letter-spacing-base;
// : text-transform applications
@text-transform--page-title: none;
// : font-style variables
@font-style-normal: normal;
@font-style-italic: italic;
// : font-style applications
@font-style--page-title-tag:           @font-style-italic;
@font-style--post-description:         @font-style-italic;
@font-style--post-content-heading:     @font-style-italic;
@font-style--post-footer:              @font-style-italic;
@font-style--post-date-before:         @font-style-normal;
@font-style--post-tag-list-before:     @font-style-normal;
@font-style--post-nav-prev-before:     @font-style-normal;
@font-style--post-nav-next-before:     @font-style-normal;
@font-style--post-tag-list-item-after: @font-style-normal;

// sizing and spacing
// : variables
@em-unit--v:           (@font-size--body * @line-height--body);
@em-unit--h:           (@size-rem-base / 4);
@hanging-indent:       36px;
@container-alley:      300px;
@container-gutter:     20px;
@max-width--container: ((@container-alley) + (@container-gutter * 2));
@width-screen-xs-max:  (@max-width--container + (@hanging-indent * 2));
// : applications
@padding-left--container:                @container-gutter;
@margin-top--body:                       (@em-unit--v * 1);
@margin-bottom--body:                    (@em-unit--v * 1);
@margin-bottom--page-header:             (@em-unit--v * 2);
@margin-bottom--page-header--post:       (@em-unit--v * 2);
@margin-bottom--post-header:             (@em-unit--v * 1);
@margin-bottom--page-main:               (@em-unit--v * 4);
@margin-bottom--post-content:            (@em-unit--v * 2);
@margin-bottom--post-content-ul:         (@em-unit--v * 1);
@margin-bottom--post-date:               (@em-unit--v * 0);
@margin-bottom--post-tag-list:           (@em-unit--v * 0);
@margin-right--post-title:               (@em-unit--h * 2);
@padding-right--post-date-before:        (@em-unit--h * 3);
@padding-right--post-tag-list-before:    @padding-right--post-date-before;
@padding-right--post-nav-prev-before:    @padding-right--post-date-before;
@padding-right--post-nav-next-before:    @padding-right--post-date-before;
@margin-right--post-tag-list-item:       (@em-unit--h * 1.5);
@padding-left--hanging-indent:           @hanging-indent;
@text-indent--hanging-indent:            (@padding-left--hanging-indent * -1);
@width--post-content-list-style:         @padding-left--hanging-indent;
@left--post-content-list-style:          (@width--post-content-list-style * -1);
@margin-right--post-content-list-style:  (@width--post-content-list-style * -1);
@padding-right--post-content-list-style: (@em-unit--h * 2.5);

// miscellaneous
@display--post-title:              inline;
@display--post-link:               block;
@display--post-content-list-style: inline-block;
@display--post-date:               block;
@display--post-tag-list-item:      inline-block;
@text-align--page-title:           center;
@text-align--page-footer:          @text-align--page-title;
@y--underline:                     (@font-size--body * @line-height--underline);

// content
@content--post-date-before:         'updated';
@content--post-tag-list-before:     'tagged';
@content--post-nav-prev-before:     'prev';
@content--post-nav-next-before:     'next';
@content--post-tag-list-item-after: ',';
